

<div class="container col-5">
  <h3 class="text-center">    Update An Employee</h3>
<form>
  <div class="form-group">
    <label for="name"> Name</label>
    <input type="text" class="form-control" 
    id="name"  placeholder="name" name="name" [(ngModel)]="employee.name"
    name="name"
   >
  </div>
  <div class="form-group">
    <label for="email">Email </label>
    <input type="text" class="form-control" id="email" placeholder="email" name="email" [(ngModel)]="employee.email"
    name="email">
  </div>
  <div class="form-group">
      <label for="jobTitle">Job Title </label>
      <input type="text" class="form-control" id="jobTitle" placeholder="jobTitle" name="jobTitle"
      [(ngModel)]="employee.jobTitle"
        name="jobTitle" >
    </div>
    <div class="form-group">
      <label for="phone">phone </label>
      <input type="text" class="form-control" id="phone"
       placeholder="phone number" name="phone"
       [(ngModel)]="employee.phone"
        name="phone" >
    </div>
    <div class="form-group">
      <label for="imageUrl">Image Url </label>
      <input type="text" class="form-control" id="imageUrl" 
      placeholder="imageUrl" 
      [(ngModel)]="employee.imageUrl"
        name="imageUrl" >
    </div>
 
  <button  (click)="updateEmployee()" class="btn btn-primary">Submit</button>
</form>

</div>